* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navEnd img {
    width: 25px;
    margin-right: 25px;
}

.navEnd .user-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.navEnd .user-icon-T1 {
    border: 4px solid #dc3545;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 0;

}
.navEnd .user-icon-T2 {
    border: 4px solid #ffd700;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.navStart .menu-icon {
    width: 35px;
    margin-right: 25px;
}

.navStart .logo {
    width: 130px;
}

.navMid .Search-box {
    border: 1px solid #dc3545;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.navMid .Search-box input {
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.navMid .Search-box img {
    height: 15px;
    width: 15px;

}

/*----------------content------------------*/

.container {
    padding-left: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play-video {
    flex-basis: 69%;
}

.play-video video {
    width: 100%;
}

.right-sidebar {
    flex-basis: 30%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img {
    width: 100%;
}

.side-video-list .small-thumbnail {
    flex-basis: 49%;
}

.side-video-list .video-info {
    flex-basis: 49%;
}

.play-video h3 {
    font-weight: 600;
    font-size: 22px;
}

.play-video .play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.play-video .play-video-info form button img {
    width: 30px;
    margin-right: 8px;
}

.play-video .play-video-info form button {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.play-video .play-video-info form span {
    display: inline-flex;
    align-items: center;
}

.play-video hr {
    border: 0;
    height: 1px;
    background: #dc3545;
    margin: 10px 0px;
}

.plublisher {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.plublisher div {
    flex: 1;
    line-height: 18px;
}

.plublisher img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.plublisher div p {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.plublisher div span {
    color: #5a5a5a;
    font-size: 13px;
}

.video-descripion {
    padding-left: 55px;
    margin: 15px 0px;
}

.video-descripion p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}

.video-descripion hr {
    border: 0;
    height: 1px;
    background: #dc3545;
    margin: 10px 0px;
}

.video-descripion h4 {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}

.add-comment {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.add-comment img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.add-comment input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #dc3545;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}

.old-comments {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.old-comments img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.old-comments h3 {
    font-size: 14px;
    margin-top: 2px;

}

.old-comments h3 span {
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}

@media (max-width:900px) {
    .container {
        padding-left: 5%;
    }

    .play-video {
        flex-basis: 100%;
    }

    .right-sidebar {
        flex-basis: 100%;
    }

    .video-descripion {
        padding-left: 0;
    }

    .play-video .play-video-info a {
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

@media (max-width:900px) {
    .menu-icon {
        display: none;
    }

    .navEnd img {
        display: none;
    }

    .navEnd .user-icon {
        display: block;
        width: 30px;
    }

    .navMid .Search-box input {
        width: 100px;
    }

    .logo {
        width: 90px;
    }
}

.hideinput {
    display: none;
}

.hiddenbutton {
    background: transparent;
    border: none;
}