.container-xl {
    margin-top: 10rem
}

.bg-image {
    margin-top: 8rem;
    margin-right: 10rem;
    height: 400px;
    opacity: 0.5;
    float: right;
    z-index: -1;
}

.custom-rounded-top {
    border-radius: 20px 20px 0px 0px;
}

.custom-rounded {
    border-radius: 20px;
}

.card-gap {
    margin-bottom: 20px;
}
@media (max-width:900px) {
    .back_ground {
        display: none;
    }
}
@media (max-width:535px) {
    #signcontainer{
        display: none;
    }
}